<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanneng.android.web">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name=".SuperWebX5FileProvider"
            android:authorities="${applicationId}.SuperWebX5FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_download_paths" />
        </provider>
        <activity
            android:name=".file.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <receiver android:name=".file.RealDownLoader$NotificationBroadcastReceiver"/>
    </application>
</manifest>
